#content {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.75rem;
}

h1 {
    color: var(--color-primary);
    font-family: 'Courier New', monospace;
    font-size: 3rem;
    font-weight: normal;
    border-bottom: 4px double var(--color-primary);
}

h2 {
    color: var(--color-primary);
    font-family: 'Courier New', monospace;
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 2px solid var(--color-primary);
}

p {
    text-align: justify;
}

img.activities {
    display: block;
    margin: 0 auto;
}
img.logo {
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    width: 120px;
    height: 120px;
}
img.photo {
    border: 2px solid var(--color-primary);
    width: 400px;
    height: auto;
}

.borderless {
    border: none !important;
}

@media only screen and (max-width: 420px) {
    img.photo {
        width: 90%;
    }
}